.movies-container{
    display: flex;
    justify-content: space-between;
}
.movies{
    width: 720px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;

}