.movies-container{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.movies{
    width: 720px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;

}
@media screen and (max-width: 480px) {
    .movies{
        grid-template-columns: 1fr;
        width: 300px;
    }
    .movies-container{
        display: block;
        width: 300px;
    }
  }