.sidebar{
    background-color: rgb(206, 202, 202);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.sidebar-div{
    position: sticky;
    top: 20px;
}
.sidebar-div button{
    padding: 10px;
    border: none;
    background-color: silver;
    border-radius: 5px;
    margin-bottom: 5px;
}