.movie img{
    width: 200px;
}
.movie{
    border: 1px solid gray;
    width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.movie button{
    padding: 10px;
    border: none;
    background-color: silver;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
}
.movie button:hover{
    background-color: rgb(180, 176, 176);
}